/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a; /* тъмно синьо-сиво */
    color: #e2e8f0;
}

/* NAVBAR */
.navbar {
    background: #1e293b;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #e2e8f0;
    text-decoration: none;
    margin-left: 15px;
}

.navbar a:hover {
    color: #38bdf8;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}

/* CARD */
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* BUTTON */
button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

/* INPUT */
input, select {
    padding: 8px;
    border-radius: 6px;
    border: none;
    margin-top: 5px;
    width: 100%;
}

/* FORM CENTER */
.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 100px auto;
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #334155;
}

th {
    background: #1e293b;
}

/* STATUS COLORS */
.error { background: #7f1d1d; }
.warning { background: #78350f; }
.info { background: #1e3a8a; }