<div class="navbar">

<ul>
    <li><div class="sitename"><h1 class="center">Well in That Case</h1></div></li>
{% if user.is_authenticated %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'inbox' %}">Inbox</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    <li><span class="greet">Hi, {{ user.username }}!</span></li>
{% else %}
    <li><a href="{% url 'login' %}" class="link">Login</a></li>
    <li><a href="{% url 'signup' %}" class="link">Sign Up</a></li>
{% endif %}
</ul>
</div>
<style>
    .navbar{
        background-color: #0c346e;
        width: 100%;
    }

    .sitename {
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        padding-bottom: 0;
    }

    span.greet{
        padding: 1vh 0 1vh 20vw;
        /*display: flex;*/
        /*padding-left: 5vw;
        padding-bottom: 5vh;
        padding-top: 5vh;
        color: aliceblue;
        text-align: center; */
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #0c346e;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul li {
        float: left;
        color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 6vw 0 0;
    }

    ul li a {
        padding: 1vh 3vw;
        color: aliceblue;
        display: block;
        text-decoration: none;
    }

    ul li a:hover:not(.active) {
        /*background-color: #0f4696;*/
        color: #c4d8f5;
        text-decoration: underline;
    }

    ul li a.active {
        background-color: #1c57ad;
    }
</style>